@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 10px auto;
  padding: 0 4%;
  text-align: center;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  display: block;
  line-height: 1px;
}

.section-title {
  display: inline-block;
  border-bottom: solid 1px black;
  font-size: 2rem;
  color: #393E45;
  margin-bottom: 70px;
}
.content-title {
  margin-bottom: 10px;
}

/* header */


#head img {
  /* margin-top: 10px; */
  width: 120px;
}
#head ul {
  display: flex;
  list-style: none;
}

#head li {
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 10px 13px;
}
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#head a {
  color: black;
}

#head a:hover {
  color: gray;
}

/* main-visual */
#main-visual {
  margin-bottom: 80px;
}
#main-visual img {
  width: 100%;
  height: 600px;
  max-width: 1920px;
  object-fit: cover;
}

/* About */

#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
  font-size: 0.875rem;
}
  
/* bicycle */
#bicycle ul {
  display: flex;
  justify-content: space-between;
}
#bicycle li {
  width: 32%;
}

#bicycle {
  margin-bottom: 110px;
}
/* footer */
#footer p {
  font-size: 10px
}

@media screen and (max-width: 600px) {

  #main-visual img {
    height: calc(100vh - 60px);
  }

  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .content p {
    font-size: 0.9rem;
  }

  #bicycle ul {
    flex-direction: column;
  }
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}